/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: #01357f;
  --first-color-light: #0071c2;

  --title-color: #252525;
  --text-color: #636363;
  --text-color-light: #efefef;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Open Sans", sans-serif;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}
button {
  border: none;
}

body {
  background-color: var(--body-color);
  /* color: var(--text-color); */
  transition: background 0.4s;
}
input,
button {
  border-color: transparent;
}
input:focus {
  outline: none;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-regular);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 1200px;
}
.relative {
  position: relative;
}
.btn-primary {
  color: #fff;
  font-size: 14px;
  background-color: var(--first-color-light);
  padding: 10px 15px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.section-title {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 10px;
}
